header
{
    background-image: url("brownie1.jpg");
    background-size: cover;
    height:100vh;

    
}
body
{
    font-size: 15px;
    overflow-x: hidden;
    font-family: 'Flamenco', cursive; 
    background-image: url(9.jpg);
    background-size: cover;
    background-position: center;
}
.clearfix:after
{
    content: ".";
    visibility: hidden;
    display: block;
    height: 0px;
    clear: both;
    
}
.row
{
    max-width: 1180px;
    margin: 0 auto;

}
.logo
{
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
    background-color: transparent;
}
.main-nav
{
    float: right;
    margin-top: 60px;
}
.main-nav li
{
    display: inline-block;
    list-style: none;
    margin-left: 50px;
}
.main-nav li a
{
    color: rgb(179, 185, 236);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    font-weight: 100;
}
.main-content-header
{
    width: 1180px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
h1{
    color: rgb(240, 205, 205);
    font-size: 150%;
    word-spacing: 5px;
    letter-spacing: 3px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: lighter;
    

}

.btn
{
    display: inline-block;
    padding: 10px 30 px;
    font-weight: lighter;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s,border 0.2s ,color 0.2s;
}

.btn-full
{
    background-color: transparent;
    color: rgb(253, 148, 201);
    margin-right: 15px;
    border: 1px solid rgb(253, 145, 230);
}
.btn-full:hover
{
    background-color: rgb(46, 88, 179);
}

.btn-nav
{
    background-color: transparent;
    color: rgb(227, 238, 130);
    border: 1px solid;
}

.btn-nav:hover
{
    background-color: rgb(255, 8, 0);
}
.colorchng
{
    animation: colorchngkattibatti 1s infinite;
}

@keyframes colorchngkattibatti 
{
    0%{color: yellow;}
    25%{color: purple;}
    50%{color: rgb(247, 41, 41);}
    75%{color: rgb(116, 240, 44);}
    100%{color: rgb(32, 9, 245);}
}
main{
    margin-left: 120px;
}
.box
{
    display: block;
    float: left;    
    padding: 12px;
    padding-left: 12px;
     
}

.buttn
{
    background-color: transparent;
    color: rgb(253, 148, 201);
    margin-right: 15px;
    border: 1px solid rgb(253, 145, 230);
}
img
{ 
    width: 100%;
    border-radius: 6px;
}

img:hover
{
    transform: scale(2,2);
    transition: .3s transform;

}
.buttn
{
        background-color: transparent;
        color: rgb(253, 148, 201);
        margin-right: 15px;
        border: 1px solid rgb(253, 145, 230);
}
.buttn:hover
{
    background-color: rgb(46, 88, 179);
}
 
input[type="checkbox"]
{
    position: relative;
    top: 10;
    width: 30px;
    height:30px;
    -webkit-appearance: none;
    outline: none;
    transition: .5s;
}

input[type="checkbox"]:before
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border: 4px solid #262626;
    box-sizing: border-box;
    transition: .5s;
}

input:checked[ type ="checkbox"]:before
{
    border-left: none;
    border-top: none;
    width: 20px;
    border-color: #0f0;
    transform: rotate(45deg);

}
.signup
{
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0,0.3);
    background: rgba(249, 250, 250, 0.671);
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
}

.signup h1{
    color: royalblue;
    margin-bottom: 30px;
}
.input-box
{
    border-radius: 30px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #999;
    outline: none;
}
.signup-btn
{
    background-color: rgb(89, 171, 238);
    width: 100%;
    padding: 10px;
    border-radius: 30px;
    font-size: 15px;
    border: none;
    outline: none;
    cursor: pointer;
}
.twitter-btn
{
    background-color: rgb(89, 171, 238);
    width: 100%;
    padding: 10px;
    border-radius: 30px;
    font-size: 15px;
    border: none;
    outline: none;
    cursor: pointer;
}

hr{
    margin-top: 20px;
    width: 80%;
}
.or
{
    background: #fff;
    width: 30px;
    margin: -19px auto 10px;
}
.bdy
{
    background-image: url('coffee.jpg');
    background-size: cover;
    height:100vh;

}
.app-container
{
    height: 600px;
    width: 350px;
    background-image: linear-gradient(#580e8f,#9200ff);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}
.top-box
{
    height: 100px;
    background-color: #9100fb;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
}
.middle-box
{
    height: 150px;
    background-image: linear-gradient(#580e8f,#9200ff);
    margin: -70px 30px 20px;
    color: #fff;
    text-align: center;
    font-size: 12px;
    border-radius: 10px;
}
.middle-box h1
{
    padding-top:30px;
    padding-bottom: 30px;
    font-size: 50px;
    font-weight: normal;
}
.middle-box span
{
    font-size: 20px;
    margin-left: 5px;
    bottom: 18px;
    position: relative;
}

.payment-option
{
    color: #fff;
    margin: 5px 30px;
    height: 30px;
    width: 290px;
    background-color: #9100fd;
    border: none;
    cursor: pointer;
}
.card-details
{
    background: #fff;
    color: #555;
    margin: 10px 30px;
    padding: 10px;
}

.card-details p
{
    font-size: 14px;
}
.card-details label
{
    font-size: 10px;
    line-height: 20px ;
}
.card-num
{
    margin-top: 10px;
}
.date-field-grp
{
    margin-top: 10px;
    display: inline-block;
}

.cvv-num
{
    margin-top: 10px;
    display: inline-block;
    float: right;
}
.name-field-grp
{
    margin-top: 10px;
}
.card-num-field, .card-name
{
    width: 270px;
}
.date-field, .cvv-num-field
{
    width: 80px;
}
.card-details input
{
    border: 1px solid #ccc;
    height: 22px;
    padding: 5px;
    font-size: 10px;
}

.pay-btn
{
    color: #fff;
    margin-top: 20px;
    height: 30px;
    width: 270px;
    background-color: #9100fd;
    border: none;
    cursor: pointer;
}
.menu
{
    height: 300px;
    width: 400px;
    background-image: "brownie1.jpg";
    top: 40%;
    left: 20%;
    transform: translate(-50%,-50%);
    position: absolute;
    
}
.bd{
    background-image: url('coffee.jpg');
    background-size: cover;
    height:100vh;
}
